{% if import.seo[activeRoute] is defined %}
  <title>{{ import.seo[activeRoute]['title'] }} | Lab RTVE.es</title>
  <meta name="description" content="{{ import.seo[activeRoute]['description'] }}">
  <meta name="Keywords" content="{{ import.seo[activeRoute]['keywords'] }}">
  <meta name="author" content="lab.rtve.es">
  <meta property="og:title" content="{{ import.seo[activeRoute]['title'] }}">
  <meta property="og:description" content="{{ import.seo[activeRoute]['description'] }}">
  <meta property="og:url" content='http://lab.rtve.es{{ app.config.base_url }}'>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@rtve">
  <meta name="twitter:creator" content="@lab_rtvees">
  <meta name="twitter:title" content="{{ import.seo[activeRoute]['title'] }}">
  <meta name="twitter:description" content="{{ import.seo[activeRoute]['description'] }}">
  <meta property="og:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{ import.seo[activeRoute]['seoImg'] }}.jpg">
  <meta name="twitter:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{ import.seo[activeRoute]['seoImg'] }}.jpg">
{% else %}
  <title>{{ import.seo[defaultRoute]['title'] }} | Lab RTVE.es</title>
  <meta name="description" content="{{ import.seo[defaultRoute]['description'] }}">
  <meta name="Keywords" content="{{ import.seo[defaultRoute]['keywords'] }}">
  <meta name="author" content="lab.rtve.es">
  <meta property="og:title" content="{{ import.seo[defaultRoute]['title'] }}">
  <meta property="og:description" content="{{ import.seo[defaultRoute]['description'] }}">
  <meta property="og:url" content='http://lab.rtve.es{{ app.config.base_url }}'>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@rtve">
  <meta name="twitter:creator" content="@lab_rtvees">
  <meta name="twitter:title" content="{{ import.seo[defaultRoute]['title'] }}">
  <meta name="twitter:description" content="{{ import.seo[defaultRoute]['description'] }}">
  <meta property="og:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{ import.seo[defaultRoute]['seoImg'] }}.jpg">
  <meta name="twitter:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{ import.seo[defaultRoute]['seoImg'] }}.jpg">
{% endif %}